{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions"
          ]
        },
        "useBuiltIns": "entry"
      }
    ],
    "flow",
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-async-to-generator"
  ]
}